.description {
  background-color: aqua;
  color: #fff;
  padding: 1rem;
}
.desc {
  height: 4.5rem;
  overflow: hidden;
}
.jeweleryClass {
  color: yellowgreen;
}
.electronicsClass {
  color: brown;
}
.menClass {
  color: cadetblue;
}
.womenClass {
  color: chocolate;
}
.special {
  color: darkmagenta;
}
