<!--
binding
1-interpolation  ==> source (ts) ==> view(html)
2-event binding  ==> view(html) ==> source (ts)
3-property binding ==> source (ts) ==> view(html)
4-two way binding
-->

<div class="container">
  <h1>Welcome to angular</h1>
  <img [src]="imageSrc" alt="" srcset="">
  <h1> {{message}}</h1>

  <!-- <input type="text" class="form-control" (keyup)="getValue($event)"> -->
  <input type="text" class="form-control" [(ngModel)]="message">

  <p appChangeStyle>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, quisquam. Quae in libero illo
    natus,
    voluptatibus eum eligendi consequatur suscipit aliquam. Ducimus, eveniet amet quia enim nihil nam tempore saepe.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit magni voluptate, eum tempora impedit cupiditate
    saepe, dignissimos praesentium asperiores fugit enim qui cum debitis optio nisi ratione error nihil quam.</p>

  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate explicabo repellat animi eos voluptas est
    possimus nostrum, voluptatum maxime fugiat laborum dolores ipsum, aut praesentium. Dolorem animi voluptate quasi
    architecto.</p>
  <!-- <button class="btn btn-primary" [routerLink]="['/products']">Go To Products</button> -->
  <button class="btn btn-primary" (click)="goToProducts()">Go To Products</button>
</div>